@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
<div>
    <div class="header-upper">
        @* <div class="header-selectors-wrapper"> *@
        @*     @await Component.InvokeAsync("TaxTypeSelector") *@
        @*     @await Component.InvokeAsync("CurrencySelector") *@
        @*     @await Component.InvokeAsync("LanguageSelector") *@
        @*     @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors }) *@
        @* </div> *@

        <div class="header-links-wrapper">
            @await Component.InvokeAsync("HeaderLinks")
            @await Component.InvokeAsync("FlyoutShoppingCart")
        </div>
    </div>
</div>

<div class="container">
    <div class="row header-lower">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="header-logo">
                @await Component.InvokeAsync("Logo")
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12 search-box store-search-box">
                @await Component.InvokeAsync("SearchBox")
            </div>
        </div>
    </div>
</div>
